body {
  padding: 30px 280px;
}

.back {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/046/484/original/photo_2022-09-18_22.jpg?1663526799);
}

h1 {
  text-transform: capitalize;
}

li {
  font-style: italic;
  list-style: none;
  margin-left: -20px;
  font-size: 15px;
}

.weather {
  background-color: #d0aa5b;
  opacity: 90%;
  margin-top: 10px;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

.degree {
  font-family: arial, sans-serif;
}

.card-img-top {
  height: 200px;
}
div {
  font-family: arial, sans-serif;
}
.font {
  font-size: 24px;
  position: relative;
  top: -20px;
}

.celcius {
  text-decoration: none;
}
.sky {
  text-transform: capitalize;
}

.fahrenheit {
  text-decoration: none;
  font-size: smaller;
}
.card-title-city {
  font-family: "Oleo Script Swash Caps", cursive;
  font-size: 70px;
}

.card-text-city {
  font-family: "Lato", sans-serif;
}
.today {
  font-size: 100px;
}
.degree {
  font-size: 50px;
}
input {
  display: inline;
}
.footnote {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  text-decoration: none;
  padding: 0 0 0 15px;
}
.name {
  font-family: "Lato", sans-serif;
  font-size: 14px;
}
.degree .active {
  color: #212529;
  cursor: default;
}
.weather-forecast-date {
  text-align: center;
  font-size: 16px;
}
.weather-forecast-max {
  text-align: center;
  font-size: 16px;
}
.weather-forecast-min {
  text-align: center;
  font-size: 16px;
}
.weather-forecast {
  text-align: center;
  width: 155%;
  position: relative;
}
.col-1 {
  border: 1px solid #dadde1;
  border-radius: 4px;
  padding: 5px;
  margin: 15px;
  background-color: #d0aa5b;
  opacity: 90%;
}
.weather-forecast-min {
  opacity: 70%;
}
